*{
    margin: 0;
    padding: 0;
  }
  .regimg{
    height: 100vh;
    display: block;
    width: 100%;
    object-fit: cover;
  }

  .regHeading{
    font-size: 34px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
  }

  .regFrom{
    width: 500px;
    margin-top: 225px;
    margin-left: auto;
    padding-right: 70px;
  }
  .regPera{
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    margin-top: 13px;
  
  }
  .regsinin{
    width: 75%;
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    margin-top: 34px;
    text-align: center;
  }
  .regsinin span{
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    margin-top: 13px;
    color :#EA6C00;
    
  }

  .sidebar{
    height: 95vh;
    background: #5F35F5;
    width: 185px;
    margin: 2.5vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
  }
  .profileName{
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    color: white;
    margin-top: 25px;
    margin-bottom: 25px;

  }
  .sidebar img {
    width: 100px;
    height: 100px;
    margin-top: 15px;
    border-radius: 50%

  }

  .sidebarIcon{
    color: white;
    font-size: 46px;
    display: block;
    margin-top: 60px;
  }

  .sidebaractive{
    position: relative;
    z-index: 2;
  }
  .sidebaractive:after{
    width: 100px;
    height: 60px;
    position: absolute;
    top: 50px;
    right: -39px;
    background: white;
    content: "";
    z-index: -1;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
  }
  .sidebaractive:before{
    width: 5px;
    height: 60px;
    position: absolute;
    top: 50px;
    right: -39px;
    background: red;
    content: "";
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px
    
  }
  .sidebaractive .sidebarIcon{
    color:#5F35F5;
  }

  .list{
    width: 427px;
    height: 40vh; 
    -webkit-box-shadow: 0px 1px 11px -1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 1px 11px -1px rgba(0,0,0,1);
    box-shadow: 0px 1px 11px -1px rgba(0,0,0,1);
    overflow-y: scroll;
    padding: 20px;
    margin-top: 33px;
  }

  .list h1{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600px;
  }

  .list .group{
    display: flex;
    gap: 20px;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 75);
    padding: 14px 0;
  }

  .list .group:last-child{
    border-bottom: 0;
  }

  .list .group img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .previewBox{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
  }

  .img-preview{
    width: 100px;
    height: 100px;
  }

  .filechose{
    display: block;
  }
